<div class="flex row justify-start" style="flex-wrap: wrap;">
   <div class="main-balance flex col justify-between">
      <p class="sp">Account Balance</p>
      <h1>
         <span class= "h1 currency"><%=currency %></span>
         <span class=" h1 amount"><%= balance %></span>
      </h1>                  
      <p class="sp">
         <div class="footer-copyright text-center py-3">
               <script type="text/javascript">
               var d = new Date()
               document.write("Today's date : "+d.getFullYear()+"/"+ d.getMonth()+"/"+ d.getDay())
               </script>
         </div>    	
      </p>
   </div>
   <div class="last flex col justify-between">
      <p class="sp">Last Transaction <span class="positive">Received +</span></p>
      <h1>
         <span class= "currency h1"><%=currency %></span>
         <span class=" h1 amount"><%= received %></span>
      </h1> 
      <p class="sp">Date Received : <%= received_date %></p>
   </div>
   <div class="total-transfers flex col justify-between">
      <p class="sp">Last Transaction <span class="negative">Sent -</span></p>
      <h1>
         <span class= "h1 currency"><%=currency %></span>
         <span class=" h1 amount"><%= sent %></span>
      </h1> 
      <p class="sp"> Date Sent : <%= sent_date %></p>
   </div>
</div>