<div class="mainboard r-8 flex col" style="margin-top: .8rem;">
   <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
         <div class="tradingview-widget-container__widget"></div>
         <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>
         <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
            [{
            "symbols": [
            {
               "proName": "FOREXCOM:NSXUSD",
               "title": "US 100"
            },
            {
               "proName": "FX_IDC:EURUSD",
               "title": "EUR/USD"
            },
            {
               "proName": "BITSTAMP:BTCUSD",
               "title": "Bitcoin"
            },
            {
               "proName": "BITSTAMP:ETHUSD",
               "title": "Ethereum"
            }
            ],
            "colorTheme": "dark",
            "isTransparent": false,
            "showSymbolLogo": true,
            "locale": "en"
         }]
      </script>
      </div>
   <!-- TradingView Widget END -->   
   <h1 class="teal" style="margin: .5rem auto; width: 95%;"><i class="fa-sharp fa-solid fa-user" style=" color: rgba(0, 128, 128, 0.37);"></i>Hi, <%= full_name%>. Welcome back</h1>
   <%- include('./main_page_info')%>

   <div class="quick-links flex row justify-center" style="margin: auto;">
      <div class="click flex col">
         <a style="text-align: center;" href="/ajax/transfers" class="flex col" ><i class="fa fa-exchange" aria-hidden="true" style="margin: auto; font-size: 1.7rem; color: rgb(0, 140, 255); padding: .5rem 0;"></i> Quick Transfer</a>
      </div>
      <div class="click flex col">
         <a style="text-align: center;" href="/ajax/transactions" class="flex col"><i class="fa fa-history" aria-hidden="true" style="margin: auto; font-size: 1.7rem; color: rgb(0, 192, 64); padding: .5rem 0;"></i>Transaction history</a>
      </div>
      <div class="click  flex col">
         <a style="text-align: center;" href="/ajax/dashboard" class="flex col"><i class="fa fa-tachometer" aria-hidden="true" style="margin: auto; font-size: 1.7rem; color: rgb(202, 1, 152); padding: .5rem 0;"></i>View profile</a>
      </div>
   </div>

   <style>
      .quick-links{
         width:95%;
      }
      .click a{
         border: 1px solid teal;
         height: 5rem;
         width: 5rem;
         padding: 1rem;
         margin: .5rem;
         justify-content: center;
         border-radius: .2rem;
         color: teal;
      }
   </style>

   <div class="stats flex row justify-between" style=" flex-wrap: wrap;">
      <div class="stat-graph flex col justify-center r-6">
         <h3 class="chart-alt"><i class="fa-solid fa-chart-simple" style=" color: rgb(0, 56, 56); margin: 0 .8rem;"></i>Transactions Statistics</h3>
         <% if (true) {%>
            <canvas id="myChart" style="width:80%; max-width:80%; margin: auto; padding: 1rem 0;"></canvas>
            <script>
               let amounts = [ 2, 10, 5, 15, 12, 18, 2 ]
               let months = [ 0, 1, 2, 3, 4, 5, 6 ]
               let ctx = document.getElementById("myChart").getContext("2d")
               let gradient = ctx.createLinearGradient(0, 0, 0, 400)
               gradient.addColorStop(0, '#80b6f412')
               gradient.addColorStop(1, '#80b6f400')

               new Chart( ctx ,{
                  type:"line",
                  data: {
                     labels: months,
                     datasets: [{
                        label: 'transaction stats',
                        data: amounts,
                        backgroundColor: gradient,
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                     }]
                  },
                  options:{
                     legend: {display:false},
                     scales:{
                        yAxes: [{
                           ticks: { min: 0, max: 20, stepSize: 10, autoSkip: false },
                           gridLines: { display:false }
                        }],
                        xAxes: [{
                           gridLines: { display: false }
                        }]
                     }
                  }
               })
            </script>         
         <% }%>

         <div class="chart flex row justify-between">
            <h4 class="first"><i class="fa-solid fa-chart-bar" style="color: teal; margin: 0 .5rem 0 0;"></i>Productivity</h4>
            <h4><i class="fa-solid fa-chart-area" style="color: teal; margin: 0 .5rem 0 0;"></i>Stats</h4>
            <h4><i class="fa-solid fa-chart-pie"  style="color: teal; margin: 0 .5rem 0 0;"></i>Charts</h4>
         </div>
      </div>
      <div class="stat-pie flex col r-3_5">
         <h3 class="chart-alt"><i class="fa-solid fa-chart-bar" style=" color: rgb(0, 56, 56); margin: 0 .8rem;"></i>Usage Statistics</h3>

         <div class="progress">
            <div class="device android">
               <h4>Android</h4>
               <div class="bar">
                  <div class="fill f-70"></div>
               </div>
            </div>
            <div class="device iphone">
               <h4>Iphone</h4>
               <div class="bar">
                  <div class="fill f-20"></div>
               </div>
            </div>
            <div class="device pc">
               <h4>pc/mac</h4>
               <div class="bar">
                  <div class="fill f-10"></div>
               </div>
            </div>
         </div>
      </div>            
   </div>
   
   <div class="transactions flex row justify-start" style=" flex-wrap: wrap">
      <div class="transaction-table flex col r-5 m-1">
         <h3 class="chart-alt"><i class="fa-solid fa-credit-card" style=" color: rgb(0, 56, 56); margin: 0 .8rem;"></i>Transactions</h3>
         <table>
            <div class="border">
               <tr>
                  <th><p class="sp" style="color: var(--my-teal);">Amount</p></th> 
                  <th><p class="sp" style="color: var(--my-teal);">IBAN</p></th>
                  <th><p class="sp" style="color: var(--my-teal);">Swift Code</p></th> 
                  <th><p class="sp" style="color: var(--my-teal);">Date</p></th>
                  <th><p class="sp" style="color: var(--my-teal);">A/C Name</p></th>
               </tr>
               <% for ( let i = 0; i < 4 ; i++ ) { %>
                  <% let render_list = JSON.parse(transactions[i]) %>
                  <tr>
                     <th><p class= <%= render_list.cr_dr %> ><%= render_list.amount %></p></th> 
                     <th><p class="sp"><%= render_list.iban %></p></th>
                     <th><p class="sp"><%= render_list.swift %></p></th> 
                     <th><p class="sp"><%= render_list.time_stamp %></p></th>                        
                     <th><p class="sp"><%= render_list.person %></p></th>                        
                  </tr>

               <% } %>
            </div>
         </table>
      </div>
   </div>
   
   <%- include('../invariables/footer')%>
</div>