
<div class="main-info flex row justify-start" style="flex-wrap: wrap; width: 95%; margin: 1rem auto;">
   <style>
      .main-info{
         width: 100%;
         background-color: #f7f7f7;
         margin: .5em auto;
         border-radius: .2rem;
         box-shadow: 1px 1px 5px #80808066;
         padding: 1.5rem 0;
      }
      .sub-info{
         margin: 1rem 2rem ;
         color: teal;
         border-radius: .2rem;
      }
      .main-info p, .main-info h1, .sub-info p, h1{
         color: teal;
      }
      .currency, .amount{
         font-weight: 300;
      }
   </style>
   <div class="" style="margin: auto; width: 85%;">
      <h3>Tip</h3>
      <p style="color: rgb(102, 102, 102);">Change your account password frequently to better secure your account from malicious activities</p>
   </div>
   <div class="sub-info flex col justify-between">
      <p class="sp">Account Balance</p>
      <h1>
         <span class= "h1 currency" style="color: teal;"><%=currency %></span>
         <span class=" h1 amount"><%= balance %></span>
      </h1>                  
      <p class="sp" style="color: teal;">
         <div class="footer-copyright text-center py-3">
               <script type="text/javascript">
               var d = new Date()
               document.write("Today's date : "+d.getFullYear()+"-"+ d.getMonth()+"-"+ d.getDay())
               </script>
         </div>    	
      </p>
   </div>
   <div class="sub-info flex col justify-between">
      <p class="sp">Ledger Balance</p>
      <h1>
         <span class= "h1 currency" style="color: teal;"><%=currency %></span>
         <span class=" h1 amount"><%= balance %></span>
      </h1>                  
      <p class="sp" style="color: teal;">
         <div class="footer-copyright text-center py-3">
               <script type="text/javascript">
               var d = new Date()
               document.write("Today's date : "+d.getFullYear()+"-"+ d.getMonth()+"-"+ d.getDay())
               </script>
         </div>    	
      </p>
   </div>   
   <div class="sub-info flex col justify-between">
      <p class="sp">Account Holder</p>
      <h1>
         <span class= "h1 currency" style="color: black;"><%=full_name%></span>
      </h1>                  
   </div>    
   <div class="sub-info flex col justify-between">
      <p class="sp">Account Number</p>
      <h1>
         <span class= "h1 currency" style="color: black;"><%=account%></span>
      </h1>                  
   </div>
   <div class="sub-info flex col justify-between">
      <p class="sp">Account Type</p>
      <h1>
         <span class= "h1 currency" style="color: black;">Savings</span>
      </h1>                  
   </div> 
   <marquee behavior="wrap" direction="left"  style="font-weight: 700; display: flex; background-color: rgb(1, 117, 117); padding: .2rem 0; width: 85%; margin: auto;">
      <p style="color: white;">Do not share your passwords or sensitive information about your <span style="color: yellow;"> ACCOUNT</span> to Anyone, if you notice anything <span style="color: red;">suspicious</span> , Immediately report any such activity </p>
   </marquee>   
</div>
