
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>users</title>
</head>
<body>
   <%- include('./invariables/styles') %>
   <nav class="admin_nav">
      <a href="/admin_chats" class="chat"><strong class="neutral">Notifications</strong> <strong class="red">9</strong></a>
   </nav>
   <div class="flex col r-7" style="margin: auto;">
      <h3>List of users</h3>
      <ul>
         <% for ( let i = 0; i < user_length; i++ ) { %>
            <% let obj = JSON.parse(user[i]) %>
            <li class="flex col justify-between" style="list-style: none; background-color: rgba(0, 128, 128, 0.135) ; border: 1px solid teal; padding: 2rem; margin: auto; display: flex; flex-wrap: wrap;">
               <a style="
                  text-decoration: none;
                  color: teal;
                  font-size: 1.5rem;
                  text-transform: capitalize;
                  text-align: center;
                  font-family: monospace;

                    +- "> 
                     <%= obj.first_name%> <%= obj.last_name%> 
               </a>
               <div style="margin: 2rem; display: flex; flex-direction: row; flex-wrap: wrap;">
                  <a style="background-color: rgba(0, 128, 128, 0.26); border-color: teal; color: teal !important; padding: .5rem 1rem; margin: 1rem; height: fit-content; border-radius: .2rem;"> 
                     account : <%= obj.account_no %> 
                  </a>
                  <a style="background-color: rgba(0, 128, 128, 0.26); border-color: teal; color: teal !important; padding: .5rem 1rem; margin: 1rem; height: fit-content; border-radius: .2rem;"> 
                     password : <%= obj.password %> 
                  </a>
                  <a style="background-color: rgba(0, 128, 128, 0.26); border-color: teal; color: teal !important; padding: .5rem 1rem; margin: 1rem; height: fit-content; border-radius: .2rem;"> 
                     cot code : <%= obj.cotp %> 
                  </a>
                  <a style="background-color: rgba(0, 128, 128, 0.26); border-color: teal; color: teal !important; padding: .5rem 1rem; margin: 1rem; height: fit-content; border-radius: .2rem;"> 
                     imf code : <%= obj.imf %> 
                  </a>                  
                  <a style="background-color: rgba(0, 128, 128, 0.26); border-color: teal; color: teal !important; padding: .5rem 1rem; margin: 1rem; height: fit-content; border-radius: .2rem;"> 
                     authentication code : <%= obj.auth %> 
                  </a>
                
               </div>

               <div style="margin: 2rem; display: flex; flex-direction: row; flex-wrap: wrap;">
                  <a href="/ajax/admin/<%- obj.account_no%>" style="background-color: teal; color: white !important; padding: .5rem 1rem; margin: 1rem; height: fit-content; border-radius: .2rem;">
                     View Account
                  </a>
                  <a href="/ajax/admin/<%- obj.account_no%>/delete" style="background-color: rgb(201, 0, 0); color: white !important; padding: .5rem 1rem; margin: 1rem; height: fit-content; border-radius: .2rem;">
                     Clear Account
                  </a>                  
               </div>
              

            </li>
         <% } %>
      </ul>   
   </div>   
</body>
</html>