<html lang="en" >
   <meta charset="utf-8">
   <%- include('./invariables/head') %>
   <body>
      <%- include('./invariables/styles') %>
      <%- include('./invariables/dash_alt') %>
      <%- include('./chunks/marquee') %>
      <div class="flex row h-full justify-center">
         <%- include('./invariables/dashboard') %>
         <%- include('./chunks/settings_page') %>
      </div>
   </body>
</html>