<html lang="en">
   <!-- HEAD GOES HERE -->
   <%- include('./invariables/head') %>
   <body>
      <%- include('./invariables/styles') %>
         <%- include('./invariables/dash_alt') %>
      <%- include('./chunks/marquee') %>
      <div class="flex row h-full justify-center">
         <%- include('./invariables/dashboard') %>         

         <%- include('./chunks/failed') %>
      </div>
      <!-- <script src="./home.js"></script> -->
   </body>
</html>