<div class="dashboard r-2 h-full col flex justify-between">
   <div>
      <div class="bank-name row flex justify-center r-8">
         <img src="" alt="">
         <h2>Cathay-Standard</h2>
      </div>
      <div class="nav flex justify-center">
         <div class="r-full flex col">
            <a href="http://localhost:8080/ajax/dashboard" class=<%=active[0] %> >
               <i class="fa-solid fa-house-user" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
               Dashboard
            </a>
            <a href="http://localhost:8080/ajax/transactions"  class=<%=active[1] %>>
               <i class="fa-solid fa-credit-card" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
               Transactions
            </a>
            <a href="http://localhost:8080/ajax/transfers" class=<%=active[2] %>>
               <i class="fa-solid fa-money-bill-transfer" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
               Transfers
            </a>
            <a href="http://localhost:8080/ajax/notifications" class=<%=active[3] %>>
               <i class="fa-solid fa-bell" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
               Notifications
            </a>
            <a href="http://localhost:8080/login.html">
               <i class="fa-solid fa-arrow-right-from-bracket" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
               Logout
            </a>
         </div>
      </div>            
   </div>
   <div class="user flex row justify-center">
      <img src="" class="user-img">
      <p id="email"><%= email %></p>
   </div>
</div>